<?xml version="1.0" encoding="utf-8" standalone="yes" ?>
<xliff version="1.0">
    <file source-language="en" datatype="plaintext" original="messages" date="2015-03-05T22:48:27" product-name="">
        <header />
        <body>
            <trans-unit id="button_ok">
                <source>Ok</source>
            </trans-unit>
            <trans-unit id="button_show">
                <source>Show</source>
            </trans-unit>
            <trans-unit id="button_submit">
                <source>Submit</source>
            </trans-unit>
            <trans-unit id="display">
                <source>Display</source>
            </trans-unit>
            <trans-unit id="foreign_languages">
                <source>Foreign languages</source>
            </trans-unit>
            <trans-unit id="less_information">
                <source>Less information</source>
            </trans-unit>
            <trans-unit id="list">
                <source>List</source>
            </trans-unit>
            <trans-unit id="list_1_result">
                <source>One result</source>
            </trans-unit>
            <trans-unit id="list_pager_next_page">
                <source>Next page</source>
            </trans-unit>
            <trans-unit id="list_pager_previous_page">
                <source>Previous page</source>
            </trans-unit>
            <trans-unit id="list_x_results">
                <source>%1$s results</source>
            </trans-unit>
            <trans-unit id="list_x_results_of_y">
                <source>%1$s - %2$s of %3$s results</source>
            </trans-unit>
            <trans-unit id="more">
                <source>More</source>
            </trans-unit>
            <trans-unit id="more_information">
                <source>More information</source>
            </trans-unit>
            <trans-unit id="no">
                <source>no</source>
            </trans-unit>
            <trans-unit id="search_verb">
                <source>search</source>
            </trans-unit>
            <trans-unit id="yes">
                <source>yes</source>
            </trans-unit>
            <trans-unit id="label_search">
                <source>Search</source>
            </trans-unit>
            <trans-unit id="model_address">
                <source>Address</source>
            </trans-unit>
            <trans-unit id="model_address_place">
                <source>Place</source>
            </trans-unit>
            <trans-unit id="model_address_street">
                <source>Street</source>
            </trans-unit>
            <trans-unit id="model_address_zip">
                <source>Zip</source>
            </trans-unit>
            <trans-unit id="model_address_zip_code">
                <source>Zip Code</source>
            </trans-unit>
            <trans-unit id="model_contact_fax">
                <source>Fax</source>
            </trans-unit>
            <trans-unit id="model_contact_phone_abbreviation">
                <source>Phone</source>
            </trans-unit>
            <trans-unit id="model_name">
                <source>Name</source>
            </trans-unit>
            <trans-unit id="price">
                <source>Price</source>
            </trans-unit>
            <trans-unit id="country">
                <source>Country</source>
            </trans-unit>
            <trans-unit id="categories">
                <source>Categories</source>
            </trans-unit>
            <trans-unit id="contact">
                <source>Contact</source>
            </trans-unit>
            <trans-unit id="dates">
                <source>Dates</source>
            </trans-unit>
            <trans-unit id="no_results_change_query">
                <source>Your search returned no results. Please modify your query.</source>
                <target>Your search returned no results. Please modify your query.</target>
            </trans-unit>
            <trans-unit id="description">
                <source>Description</source>
            </trans-unit>
        </body>
    </file>
</xliff>